{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SBlog</title>
    <link rel="shortcut icon" href="{% static 'logo.png' %}" type="image/x-icon">
</head>
<body>
    {% block menu %}
        <h2>
            <a href="{% url 'articles' %}"><button>Все статьи</button></a>
            <a href="{% url 'top' %}"><button>Топ 1</button></a>
            <a href="{% url 'test' %}"><button>Тест</button></a>
            <a href="{% url 'contacts' %}"><button>Контакты</button></a> 
            <a href="{% url 'home' %}"><button>Домашняя страница</button></a>         
            <a href="{% url 'add' %}"><button>Добавить</button></a>
        </h2>
    {% endblock %}
    
    {% block content %}

    {% endblock %}
</body>
</html>