{% extends 'base.html' %}
{% block menu %}
    <h2>
        <a href="{% url 'articles' %}"><button>Все статьи</button></a>
        <a href="{% url 'top' %}"><button>Топ 1</button></a>
        <a href="{% url 'test' %}"><button>Тест</button></a>
        <a href="{% url 'contacts' %}"><button>Контакты</button></a> 
        <a href="{% url 'add' %}"><button>Добавить</button></a> 
        <a href="http://127.0.0.1:8000/admin/"><button>Комната админа</button><a/>       
    </h2>
{% endblock %}
{% block content %}
    <table border = "2" > 
        <thead>
            <tr>
                <th>Title</th>
                <th>Views</th>
                <th>Publicated</th>
                <th>Author</th>
                <th>Crated</th>
                <th>Updated</th>
            </tr>

        </thead> 
        <tbody>
            {% for article in articles %}
            
            <tr>
                <td><a href="{% url 'article' article.id %}">{{ article.title }}</a></td>
                <td>{{ article.title }}</td>
                <td>{{ article.views }}</td>
                <td>{{ article.publicated }}</td>
                <td>{{ article.created_date }}</td>
                <td>{{ article.updated_date }}</td>
            </tr>
            {% endfor %}
        </tbody>       

    </table>
    
{% endblock %}