{% extends 'base.html' %}
{% block menu %}
    <h2>
        <a href="{% url 'articles' %}">Все статьи</a>
        <a href="{% url 'top' %}">Топ 1</a>
        <a href="{% url 'test' %}">Тест</a>
        <a href="{% url 'contacts' %}">Контакты</a>         
    </h2>
{% endblock %}
{% block content %}
    <table border = "2" > 
        <thead>
            <tr>
                <th>Title</th>
                <th>Views</th>
                <th>Publicated</th>
                <th>Author</th>
                <th>Crated</th>
                <th>Updated</th>
            </tr>

        </thead> 
        <tbody>
            {% for article in articles %}
            
            <tr>
                <td><a href="{% url 'article' article.id %}">{{ article.title }}</a></td>
                <td>{{ article.title }}</td>
                <td>{{ article.views }}</td>
                <td>{{ article.publicated }}</td>
                <td>{{ article.created_date }}</td>
                <td>{{ article.updated_date }}</td>
            </tr>
            {% endfor %}
        </tbody>       

    </table>
    
{% endblock %}